{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}
    Guestbook
{% endblock %}
{% block menu %}
    <ul class="navbar-nav" style="width: 10rem">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'record_add' %}" style="color: white">Add Record</a>
        </li>
    </ul>
    <div class="container-fluid">
        <form class="d-flex align-items-center justify-content-end" style="padding-top: 1rem; color: white" role="search"
              method="get" action="{% url 'index' %}">
            {{ form.as_div }}
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
{% endblock %}
{% if products %}
    <ul>
        {% for product in products %}
            <li>{{ product.name }} - {{ product.price }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No products found.</p>
{% endif %}
{% block content %}
    {% for record in records %}
        <div class="card" style="margin-top: 2rem">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col text-left">
                            <h5 class="card-title">{{ record.name }}</h5>
                        </div>
                        <div class="col text-end">
                            <a href="{% url 'record_update' record.pk %}" title="Edit Record"><i
                                    class="bi bi-pencil-square"></i></a>
                            <a href="{% url 'record_delete' record.pk %}" title="Delete Record"><i
                                    class="bi bi-x-square"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h6 class="card-subtitle mb-2 text-muted">{{ record.email }}</h6>
                    <p class="card-text">{{ record.text }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}